<!DOCTYPE html>
<html>
<head>
    <title>Skill Bee APP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main">
        <div class="left-main">
            <p class="top-number">2237769</p>
            <p class="hero-text">Explore the  <br>nightlife of  <br>your city</p>
            <p class="hero-subline">Outdoor & Sporting Goods Company</p>
            <div class="mid-section">
                <button class="hero-button">Explore More 
                    
                    <img  width='15px' src="{{ url_for('static', filename='arrow.svg') }}" alt="SVG Image" >

                </button>
                <p class="button-support-text">We have more special goods for you! 
                    <img width='15px' src="{{ url_for('static', filename='rocket.svg') }}" alt="SVG Image"></p>
                    
            </div>
            <div class="inner-block">
                <div class='inner-left'>
                    <p class="inner-block-mini">More than</p>
                    <p class="inner-block-large">50+</p>
                    <p class="inner-block-supporting">Adventure Product</p>
                </div>
                <div class='inner-right'>
                    <p class="inner-block-mini">More than</p>
                    <p class="inner-block-large">75+</p>
                    <p class="inner-block-supporting">Outlet in Indonesia</p>
                </div>
            </div>
            
        </div>
        <div class="right-main">
            Right Main
        </div>
    </div>
    <div class="footer">
       <div class="footer-inner-div">
        <div>
            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 21.25H36.25" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15 41.25H20" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M26.25 41.25H36.25" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M55 35.075V40.275C55 49.05 52.775 51.25 43.9 51.25H16.1C7.225 51.25 5 49.05 5 40.275V19.725C5 10.95 7.225 8.75 16.1 8.75H36.25" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M50 23.75V8.75L55 13.75" stroke="#D93A31" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M50 8.75L45 13.75" stroke="#D93A31" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
                
        <div class="right-inner-div">
            <p class="footer-inner-div-support">Accessibility</p>
            <p class="footer-inner-div-main-text">0.32</p>
        </div>
       </div>
       <div class="footer-inner-div">
        <div>
            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.2252 5.57515L13.7502 10.2751C10.8752 11.3501 8.52521 14.7501 8.52521 17.8001V36.3751C8.52521 39.3251 10.4752 43.2001 12.8502 44.9751L23.6002 53.0001C27.1252 55.6501 32.9252 55.6501 36.4502 53.0001L47.2002 44.9751C49.5752 43.2001 51.5252 39.3251 51.5252 36.3751V17.8001C51.5252 14.7251 49.1752 11.3251 46.3002 10.2501L33.8252 5.57515C31.7002 4.80015 28.3002 4.80015 26.2252 5.57515Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.6247 29.6752L26.6497 33.7002L37.3997 22.9502" stroke="#D93A31" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
        </div>
                
        <div class="right-inner-div">
            <p class="footer-inner-div-support">Type</p>
            <p class="footer-inner-div-main-text">Social</p>
        </div>
       </div>
    </div>
    
</body>
</html>
